/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Establecer la fuente base */
html {
    font-size: 16px;
}

/* Configuración del cuerpo */
body {
    font-family: Inter, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #D1D5DB;
    background-color: #0F172A;
    margin: 0;
    padding: 0;
    min-width: 320px;
    overflow-y: auto; /* Permitir desplazamiento general */

}

/* Enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Listas */
ul {
    list-style-type: none;
}

/* Encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: bold;
    color: #cdd7ee;
}

/* Contenedor principal */
.container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}

.columnleft {
    position: fixed;
    width: 50%;
    max-width: 512px;
    height: 100vh;
    padding-top: 3rem;
    padding-left: 3rem;
}

.columnleft h1 {
    font-size: 2.5rem;
    line-height: 1;
}

.columnleft h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
}

.columnleft p {
    font-size: 0.875rem;
    max-width: 20rem;
    margin-top: 10px;
}

.columnright {
    width: 50%;
    margin-left: 50%;
    padding-top: 3rem;
    padding-right: 3rem;
}

.columnright h3 {
    font-size: 1rem;
    font-weight: bold;
}

.columnright p {
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.experience {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    color: #94a3b8;
}

footer {
    color: #64748b;
}

.card {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.cardleft {
    width: 30%
}

.cardleft span {
    font-weight: bold;
    font-size: 0.875rem;
    color: #64748b;
}

.cardright {
    width: 70%;
}

.cardright h4 {
    font-size: 0.875rem;
}

.cardright p {
    font-size: 0.75rem;
}

.skills {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.skill {
    background-color: #112240;
    color: #64ffda;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

nav ul li {
    position: relative;
    display: flex;
    align-items: center;
}

nav ul li a {
    padding: 5px 0;
    position: relative;
    color: #94a3b8;
    font-weight: bold;
    transition: color 0.3s, padding-left 0.3s;
    padding-left: 35px;
}

nav ul li a.active {
    color: #cdd7ee;
    padding-left: 65px;
}

nav ul li a.active::before {
    background-color: #cdd7ee;
    width: 60px;
    height: 1px;
}

nav ul li a::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 30px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #94a3b8;
    transition: all 0.3s ease-in-out;
    transform-origin: left center;
}

nav ul li a:hover::before {
    background-color: #cdd7ee;
    width: 60px;
    height: 1px;
}

nav ul li a:hover {
    color: #cdd7ee;
    padding-left: 65px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 1023px) {
    .container {
        flex-direction: column;
        width: auto;
        gap: 0px;
    }

    .columnleft {
        width: 100%;
        height: auto;
        padding: 2rem;
        position: static;
    }

    .columnright {
        width: 100%;
        padding: 2rem;
        margin-left: 0;
    }

    nav {
        display: none;
    }
}

@media (max-width: 767px) {
    .columnleft {
        width: 100%;
        padding: 1.5rem;
    }

    .columnright {
        width: 100%;
        padding: 1.5rem;
    }
}

@media (max-width: 576px) {
    .columnleft h1 {
        font-size: 2.25rem;
    }

    .columnleft h2 {
        font-size: 1rem;
    }

    .card {
        flex-direction: column;
    }

    .cardleft {
        width: 100%;
    }

    .cardright {
        width: 100%;
    }
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}